.container {
  overflow-x: auto;
}

.custom-table {
  border: 1px solid lightgray;
  padding: 5px;
}

.heading {
  font-size: large;
  font-weight: bolder;
}

.header-columns td {
  font-size: large;
}
