<h1>User information</h1>
<table>
    <thead>
        <tr>
            <th>User data</th>
        </tr>
        <tr>
            <td>
                City
            </td>
            <td>
                Coordinates
            </td>
            <td>
                Country
            </td>
            <td>
                Postcode
            </td>
            <td>
                State
            </td>
            <td>
                Street
            </td>
            <td>
                Timezone
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of userLocationData">
            <td>
                {{element.city}}
            </td>
            <td>
                {{element.coordinates.latitude}}
                ,
                {{element.coordinates.longitude}}
            </td>
            <td>
                {{element.country}}
            </td>
            <td>
                {{element.postcode}}
            </td>
            <td>
                {{element.state}}
            </td>
            <td>
                {{element.street.number}}
                ,
                {{element.street.name}}
            </td>
            <td>
                {{element.timezone.description}}
                ,
                {{element.timezone.offset}}
            </td>
        </tr>
    </tbody>
</table>